/*.wallpaper{
  padding-left: 100px;
  padding-right: 100px;
}*/

/* body{
  background-color: #ff9999;
} */

#title {
  background-color: #ff9999;
  color: #ffff;
}

.container-fluid{
  padding: 3% 5% 3% 13%;
}

.big-heading{
  padding-right: 50px;
}


h1{
  font-family: "Playfair Display', serif;";
  /*font-family: 'Merienda', cursive;*/
  font-size: 3rem;
  line-height: 2.5;
}

h2{
  font-family: "Playfair Display', serif;";
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

h3,h5{
  font-family: "Playfair Display', serif;";
}
h5{font-weight: bold;}

.heading2{
  font-family: "Playfair Display', serif;";
  font-size: 3rem;
  padding-top: 1%;
}

p{
  color: #8f8f8f;
}

.download-button{
  margin: 8% 3% 5% 0;
}

.navbar{
  padding-bottom: 3rem;
}
.navbar-nav{
  padding-left: 400px;
}
.navbar-brand{
  /*font-family: "'Courgette', cursive;";*/
  font-family: 'Merienda', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #0000;
}

.navbar-brand:hover{
  transform: scale(1.1);
}

.nav-item{
  padding: 0 18px;
  color: #0000;
}

.nav-link{
  font-size: 1.25rem;
  font-family: "Ubuntu";

}

#features{
   padding: 7% 15%;
  }

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ff8080;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ffb3b3;
}

#testimonials{
  text-align: center;
  background-color: #ff8080;
  color: #fff;
}

.testimonialimg{
  width: 10%;
  border-radius: 100%
  margin: 20px;
}

.carousel-item{
  padding: 7% 10%;
}

#pricing{
  text-align: center;
  padding: 6% 15%;
}
.row{
  padding-top: 3%;
}
.card-body{
  background-color: #ff9999;
}

.prize-box{
  margin-top: 15px;
  padding: 3% 5%;
  background-color:#ff8080;
  color: #fff;
}

.products {
  color: #fff;
  font-weight: bold;
}

.btn-block{
  padding: 1% 16%;
  font-weight: bold;
}

#cta{
  background-color: #ff8080;
  padding: 3% 15%;
  text-align: center;
  font-family: "Playfair Display', serif;";
  color: #fff;
  font-weight: bold;
}
.login-button{
  margin: 3% 3% 5% 0;
}

#footer {
  margin: 0.8%;
  text-align: center;
}
.social{
  padding: 3% 5% 3% 5%;
}
.copyright {
  font-size: 0.8rem;
  padding-top: 5px;
  text-align: center;
}
